/* caveat-brush-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Caveat Brush';
    font-style: normal;
    font-weight: 400;
    src: url('/cssBayan/font/caveat-brush-v11-latin/caveat-brush-v11-latin-regular.woff'),
        url('/cssBayan/font/caveat-brush-v11-latin/caveat-brush-v11-latin-regular.woff2');
}

/* caveat-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    src: url('/cssBayan/font/caveat-v17-latin/caveat-v17-latin-regular.woff'),
        url('/cssBayan/font/caveat-v17-latin/caveat-v17-latin-regular.woff2');
}


body {
    background-color: rgb(240, 218, 189);
}

h3 {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 80%;
    margin: 2% auto;
}

.header__title {
    font-family: 'Caveat Brush';
    font-size: 90px;
}

.label__title {
    font-family: 'Caveat';
    font-size: 70px;
}

.main__accordion:hover .label__title {
    color: black;
}


.main__accordion:hover .label__sign {
    opacity: 1;
}

.label__title {
    color: blue;
}

.item__input:checked~.item__label .label__body .label__title {
    color: black;
}



.item__input:checked~.item__label .label__body .label__sign {
    transform: rotate(45deg);
}

.item__label {
    display: block;
    cursor: pointer;
}

.item__label,
.item__tab {
    margin-bottom: 2%;
}

.item__input {
    opacity: 0;
    width: 0;
    height: 0;
}

.item__input:checked~.item__tab {
    display: flex;
    align-items: center;
    justify-content: center;
}

.label__sign {
    opacity: 0;
}

.label__body {
    display: flex;
    justify-content: space-between;
}

.accordion__item {
    border-top: 1px solid grey;
}

.item__tab {
    display: none;
}

.item__label:hover+.item__tab {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item__label:hover .label__body .label__sign {
    transform: rotate(45deg);
}

/* попробовать менять опасити */